@charset "UTF-8";@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800,900,300italic,italic,500italic);* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: "Montserrat";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.menu {
  display: none;
}

.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
/* Generated by vite-plugin-svg-spritemap */
.page--home {
  background: #faf3e9;
}

.page__container {
  z-index: 1;
  position: relative;
}

.page--home-block {
  display: flex;
  gap: 0 1.875rem;
  align-items: center;
}

/* Левая колонка */
.left-column {
  flex: 1;
  background-color: #FAFAFA; /* Светло-серый фон левой колонки */
  padding: 1.875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0rem 0.3125rem 0.625rem 0.125rem rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0rem 0.3125rem 0.625rem 0.125rem rgba(34, 60, 80, 0.2);
  box-shadow: 0rem 0.3125rem 0.625rem 0.125rem rgba(34, 60, 80, 0.2);
  overflow: hidden;
}

/* Правая колонка */
.right-column {
  margin-top: 3.125rem;
  flex: 1;
  background-color: #FAFAFA; /* Светло-серый фон правой колонки */
  padding: 1.875rem;
  margin-bottom: 3.125rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  -webkit-box-shadow: 0rem 0.3125rem 0.625rem 0.125rem rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0rem 0.3125rem 0.625rem 0.125rem rgba(34, 60, 80, 0.2);
  box-shadow: 0rem 0.3125rem 0.625rem 0.125rem rgba(34, 60, 80, 0.2);
}

.header {
  text-align: center;
  margin-bottom: 1.25rem;
}

.logo {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 110% */
  text-transform: uppercase;
  font-family: "Montserrat";
}

.tagline {
  font-size: 1rem;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.0625rem;
  margin-top: 0.3125rem;
}

/* Стили для профиля */
.profile {
  text-align: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.menu-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 0.625rem;
  align-self: flex-end;
  color: #333;
}

.name {
  font-size: 2.8125rem;
  font-weight: 800;
  margin: 0.625rem 0 1.25rem 0;
  line-height: 1.2;
  color: #811b2b;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 0.96875rem;
  flex-direction: column;
}
.name span {
  font-size: 1.125rem;
  letter-spacing: 0.34375rem;
}

.title {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: #666;
  text-transform: uppercase;
  text-align: left;
  line-height: 110%;
}
.title span {
  color: #811b2b;
}

.profile-photo-block {
  display: flex;
  max-width: 31.875rem;
}

.profile-photo {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 200/220;
  object-position: 50% 40%;
}

.bg-image {
  width: 100%;
  height: 100%;
  position: fixed;
}
.bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  filter: blur(0.3125rem);
}

.quote {
  font-size: 1rem;
  font-style: italic;
  padding: 1.25rem 0;
  color: #555;
  max-width: 25rem;
  margin: 0 auto;
}

.cta-button {
  background-color: #811b2b;
  color: #fff;
  border: none;
  padding: 0.75rem 1.875rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 15.625rem;
  text-align: center;
}

.cta-button:hover {
  background-color: #6a1723;
}

/* Стили для секции "About Me" */
.about-me {
  width: 100%;
  scroll-margin-top: 1.875rem;
}

.section-title {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  padding-bottom: 0.625rem;
  border-bottom: 0.0625rem solid #000; /* Черная черта под заголовком */
  color: #000;
}

.about-content-block {
  display: flex;
  gap: 0 1.25rem;
}

.about-content {
  margin-bottom: 1.25rem;
}

.about-content-image {
  margin-right: -6.25rem;
  max-width: 18.75rem;
}
.about-content-image img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 300/450;
  object-position: 50% 50%;
}

.about-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.625rem;
}

.bullet {
  margin-right: 0.625rem;
  font-size: 1.125rem;
  color: #000; /* Фиолетовый цвет для маркеров */
}

.about-photo {
  width: 100%;
  height: auto;
  margin-top: 0.625rem;
}

.footer {
  margin-top: auto; /* Прижимает подвал вниз */
  text-align: center;
  font-size: 0.75rem;
  color: #999;
  margin-top: 1.875rem;
  transition: color ease 0.3s;
}
.footer span {
  transition: color ease 0.3s;
}

/* Стили для секции Portfolio */
.portfolio {
  width: 100%;
  scroll-margin-top: 1.875rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
}

.portfolio-item {
  width: 100%;
  height: 12.5rem; /* Фиксированная высота */
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

/* Стили для секции Services */
.services {
  width: 100%;
  scroll-margin-top: 1.875rem;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.service-item {
  background-color: #FFF; /* Белый фон для карточки услуги */
  border: 0.0625rem solid #E5E5E5; /* Светлая граница */
  border-radius: 0.5rem;
  padding: 1.25rem;
}
.service-item:last-child {
  margin-bottom: 1.875rem;
}

.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.service-number {
  font-size: 0.875rem;
  color: #8B5CF6; /* Фиолетовый цвет для номера */
  margin-right: 0.9375rem;
}

.service-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #000;
}

.service-description {
  margin: 0.625rem 0;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.service-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9375rem;
  padding-top: 0.9375rem;
  border-top: 0.0625rem solid #E5E5E5; /* Разделительная линия */
}

.price {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
  transition: all ease 0.3s;
}

.arrow {
  font-size: 1.375rem;
  color: #000; /* Фиолетовый цвет для стрелки */
  cursor: pointer;
  transition: all ease 0.3s;
}

.about-content-text {
  margin-block-start: 1.875rem;
}
.about-content-text h3 {
  font-weight: 500;
  margin-bottom: 0.3125rem;
}
.about-content-text p {
  font-weight: 300;
  line-height: 110%;
}
.about-content-text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.about-content-text-list {
  font-weight: 400;
  line-height: 110%;
}
.about-content-text-list ul {
  margin: 0.3125rem 0 0.9375rem 0;
}
.about-content-text-list ul li {
  font-weight: 300;
}
.about-content-text-list ul li:not(:last-child) {
  margin-bottom: 0.1875rem;
}

.mobile-footer {
  display: none;
}


.scroll-up {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: #811b2b;
  padding: 0.375rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 0 0.75rem hsla(228, 15%, 8%, 0.2);
  z-index: 5;
  transition: bottom 0.4s, transform 0.4s;
  width: 2.1875rem;
  height: 2.1875rem;
  flex: 0 0 2.1875rem;
  transition: all ease 0.3s;
  display: flex;
}

.scroll-up:hover {
  transform: translateY(-0.25rem);
  background: #811b2b;
}

.scroll-up.show-scroll {
  display: flex;
  bottom: 1.875rem;
}

@media (max-width: 64rem){
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 53.125rem) and (min-width: 53.125em){
  .portfolio-item {
    height: 21.875rem;
  }
}

@media (max-width: 53.125rem) and (max-width: 23.4375em){
  .portfolio-item {
    height: 12.5rem;
  }
}

@media (max-width: 53.125rem) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 53.125rem){
  .menu {
    display: flex;
    justify-content: end;
  }
  .menu__body {
    position: fixed;
    width: fit-content;
    height: 100svh;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem 2.8125rem 1.875rem 0.9375rem;
    transition: right 0.3s;
    background: rgba(250, 250, 250, 0.7333333333);
  }
  [data-fls-menu-open] .menu__body {
    right: 0;
  }
  .menu__list {
    margin-top: 1.875rem;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  .menu__link {
    color: #000000;
    font-weight: 600;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .page--home-block {
    flex-direction: column;
  }
  .left-column {
    margin-top: 3.125rem;
  }
  .right-column {
    margin-top: 0;
    box-shadow: none;
  }
  .profile-photo-block {
    max-width: 100%;
  }
  .footer {
    display: none;
  }
  .portfolio-item {
    height: 21.875rem;
  }
  .mobile-footer {
    display: block;
    margin-top: auto; /* Прижимает подвал вниз */
    text-align: center;
    font-size: 0.75rem;
    color: #999;
    margin-top: 1.875rem;
    transition: color ease 0.3s;
  }
}

@media (max-width: 29.6875rem){
  .about-content-block {
    flex-direction: column;
  }
  .about-content-image {
    max-width: 100%;
  }
}

@media (max-width: 26.5625rem){
  .cta-button {
    max-width: 100%;
  }
}

@media (max-width: 20em){
  .left-column {
    padding: 0.875rem;
  }
  .right-column {
    padding: 1.125rem;
  }
}

@media (max-width: 53.125rem) and (min-width: 23.4375em) and (max-width: 53.125em){
  .portfolio-item {
    height: clamp( 12.5rem , 5.098684210525rem  +  31.5789473684vw , 21.875rem );
  }
}

@media (min-width: 20em) and (max-width: 75em){
  .left-column {
    padding: clamp( 0.875rem , 0.5113636363625rem  +  1.8181818182vw , 1.875rem );
  }
  .right-column {
    padding: clamp( 1.125rem , 0.852272727275rem  +  1.3636363636vw , 1.875rem );
  }
}

@media (min-width: 75em){
  .left-column {
    padding: 1.875rem;
  }
  .right-column {
    padding: 1.875rem;
  }
}

@media (any-hover: hover){
  .footer:hover {
    color: #757575;
  }
  .footer:hover span {
    color: #2b2e3b;
  }
  .service-footer:hover .arrow {
    transform: translateX(0.3125rem);
  }
  .service-footer:hover .price {
    color: #811b2b;
  }
}